[Unit]
Description=Motifle Discord Activity
After=network.target

[Service]
Type=simple
# Run `nvm which 20` on the server and replace v20.20.1 with the actual version
Environment=PATH=/home/makin/.nvm/versions/node/v20.20.1/bin:/usr/bin:/bin
Environment=NODE_ENV=production
ExecStart=/home/makin/.nvm/versions/node/v20.20.1/bin/node /srv/node-apps/motifle-discord/server/server.js
WorkingDirectory=/srv/node-apps/motifle-discord/server
Restart=always
RestartSec=5
User=makin

[Install]
WantedBy=multi-user.target
